body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {color: #007bff;}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header h1 {
    color: #333;
    font-size: 24px;
}

.view-all {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 18px; /* Более крупный шрифт для ссылки */
    text-align: left;
    font-weight: 600;
}

.view-all:hover {
    text-decoration: underline;
}
