body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px; /* Увеличено для более закругленных углов */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* Более выраженная тень */
    width: 500px; /* Фиксированная ширина контейнера */
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 40px; /* Увеличено расстояние от заголовка до формы */
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 10px; /* Увеличено расстояние между лейблом и инпутом */
    font-size: 16px; /* Более крупный шрифт для лейбла */
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px; /* Увеличенный паддинг для большего пространства */
    border: 1px solid #ccc; /* Более светлая граница */
    border-radius: 5px; /* Менее закругленные углы */
    box-sizing: border-box; /* Добавлено, чтобы паддинги не увеличивали размеры элементов */
    font-size: 16px; /* Более крупный шрифт для ввода */
}

.input-group textarea {
    resize: vertical; /* Отключаем возможность изменения размера */
    height: 100px; /* Фиксированная высота */
}

button {
    background-color: #007bff;
    color: white;
    padding: 15px 20px; /* Увеличенный паддинг для большей кнопки */
    border: none;
    border-radius: 5px; /* Менее закругленные углы */
    cursor: pointer;
    font-size: 18px; /* Более крупный шрифт для кнопки */
    margin-top: 20px; /* Добавлено пространство сверху */
}

button:hover {
    background-color: #0056b3;
}

.view-all {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 18px; /* Более крупный шрифт для ссылки */
    text-align: left;
    font-weight: 600;
}

.view-all:hover {
    text-decoration: underline;
}
