<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Created</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='created.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>File <span class="blue">{{ file_name }}</span> was created!</h1>
        </div>
        <div class="links">
            <a href="https://reimagined-acorn-wr7qq59rvpjx2xrj-5000.app.github.dev/" class="view-all">Add New File</a>
            <a href="/all" class="view-all">View all files</a>
        </div>
    </div>
</body>
</html>
